<h1 class="title">{{site.about_me_title}}</h1>

<p class="description" data-aos="fade-down">
	👋 Hi, I'm Enock Lubowa a software engineer from Kampala, Uganda.
</p>

<p class="description" data-aos="fade-down">
	👨‍💻️ I have over 3 years experience in Android and backend development with Java. I have used major features and libraries in Android for instance fragments, multithreading, dependency injections, and more... As for the backend, I have a good understanding of Spring boot together with other technologies like Spring JPA, Hibernate, etc. I have an understanding of good practices for development of REST APIs that easily scale without being closely coupled with clients.
</p>

<p class="description" data-aos="fade-down">
	🤔️ I am passionate about solving problems with technology and constantly look forward to self-improvement in terms of learning and working with people.
</p>

<p class="description" data-aos="fade-down">
	📝️ When I feel motivated enough, I do some writing on <a class="highlight-link" href="https://techleadafrica.com">my blog.</a>
</p>
