<h1 class="title">{{site.about_me_title}}</h1>

<p class="description" data-aos="fade-down">
	Hi, am Enock Lubowa a software engineer from in Kampala, Uganda.
</p>

<p class="description" data-aos="fade-down">
	I have over 2 years experience in software development working with Android and back-end services. I have used major features and libraries in Android for instance fragments, multithreading, dependency injections, and more…
</p>

<p class="description" data-aos="fade-down">
	I am passionate about solving problems with technology and constantly look forward to self-improvement in terms of learning and working with people.
</p>

<p class="description" data-aos="fade-down">
	I like writing about which I do on my personal blog as well other websites like 
	<a class="highlight-link" href="https://techleadafrica.com">TechLeadAfrica</a>
</p>
