<h1 class="title">{{site.about_me_title}}</h1>

<p class="description" data-aos="fade-down">
	👋 Hi, I'm Enock Lubowa a software engineer from Kampala, Uganda.
</p>

<p class="description" data-aos="fade-down">
	👨‍💻️ I have over 2 years experience in software development working with Android and back-end RESTful services. I have used major features and libraries in Android for instance fragments, multithreading, dependency injections, and more...
</p>

<p class="description" data-aos="fade-down">
	🤔️ I am passionate about solving problems with technology and constantly look forward to self-improvement in terms of learning and working with people.
</p>

<p class="description" data-aos="fade-down">
	📝️ I like writing which I do on my personal blog as well as other tech blogs like <a class="highlight-link" href="https://techleadafrica.com">TechLeadAfrica</a>
</p>
